.main-nav{
    height: 70px;
    color: #fff;
    align-items: center;
    padding-left: 40px;
    margin-right: 0px;
    margin-left: 0px;
    
}
.nav-logo-text{
color:#fff; 

}
.main-menu{
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between;

    a{
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: -0.015em;

        &.active{
          font-weight: bold;
          color:#fff;
          letter-spacing: -0.015em;
        }
        &:hover{
            color:#fff;
        }
    }

}