.admin-base-form{
    padding: 70px 45px 50px 45px;
    border-radius: 20px;
    width: 1000px;

}
.admin-form-title{
    font-size: 27px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
    text-transform: uppercase;

}
.base-form-action{
    margin-top: 70px;
    text-align: right;
}