.pagination-container{
   display: flex;
   justify-content: center;
   margin-top: 35px;
   align-items: center;

}
.pagination-item{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color:#fff;
    background: #e1e1e1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    margin-right: 10px;

    &.active{
        background: #407BFF;
    }
    
}
.pagination-previous{
    transform: rotate(-180deg);
    margin-right: 25px;

}
.pagination-next{
    margin-left: 15px;

}
.active-page{
    color: #407bff;
    cursor: pointer;

}
.inactive-page{
    color: #e1e1e1;
    pointer-events: none;
}

