.admin-nav-container{
    width: 300px;
    background-color: #fff;
    height: calc(100vh - 70px);

}
.admin-nav-item{
    height: 80px;
    display: block;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color:#9e9e9e;

    &.active{
        color: #407bff;
        background: rgba(64, 123, 155, 0.3);

     }
    &:hover{
      color: #407bff;

    }
}